.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-inherit {
  overflow-x: inherit !important;
}
.overflow-y-inherit {
  overflow-y: inherit !important;
}
