.overflow-container {
  overflow: auto;
  position: relative;
  &:after,
  &:before {
    content: "";
    position: sticky;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: 1;
    display: block;
  }
  &:after {
    bottom: 0;
    background:$box-shadow-top;
  }
  &:before {
    top: 0;
    background:$box-shadow-bottom;
  }
  .overflow-item {
    &:after,
    &:before {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 8px;
      z-index: 2;
      background: #fff;
    }
    &:after {
      bottom: -8px;
    }
    &:before {
      bottom: 8px;
    }
  }
}


