.shadow{
  box-shadow:$box-shadow;
}
.shadow-sm{
  box-shadow:$box-shadow-sm;
}
.shadow-lg{
  box-shadow:$box-shadow-lg;
}
.shadow-xlg{
  box-shadow:$box-shadow-xlg;
}
.shadow-inset{
  box-shadow:$box-shadow-inset;
}