$table-v-aligh:middle;
//表格
.table-tree {
  width: 100%;
  color: $table-color;
  background-color: $table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        color: $table-th-f-color;
        background-color: $table-th-bg;
        border-top: 1px solid $table-th-border-color;
        border-bottom-color:$table-th-border-color !important;
      }
      >td:first-child,
      >th:first-child{
        width:2.5rem;
        text-align: center;
      }
    }
  }
  
  //- 挪至 _Toggle
  // [toggle-class="off"]{
  //   @extend .btn-gray-dark;
  //   i{
  //     display: inline-block;
  //     transform: rotate(-90deg);
  //   }
  // }

  // [toggle-class="on"]{
  //   background-color: #fff;
  //   border-color: #fff;
  //   color: $gray-800;
  // }
  [toggle-class]{
    @extend .btn-toggle;
  }

  .table-tr-title td {
    border-bottom: none;
    border-top: 1px solid $gray-300;
    background-color: $gray-200;
  }
  // .table-tr-detail {
  //   &[toggle-element="off"]{
  //     display: none;
  //   }
  // }
  table{
    width: 100%;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th {
          background-color: #fff;
          font-size: 0.75rem;
          line-height: 100%;
          color: $gray-500;
          word-wrap: break-word;
          padding:0.5rem;
          // padding-left: 0;
          // padding-bottom: 0.5rem;
          // padding-top: 0.5rem;
          border: none;
        }
        > td {
          padding:0.5rem;
        }
      }
    }
    &.table-hover{
      > tbody{
        >tr:hover{
          > td{
            $hover-color:shift-color($primary, -80%);
            box-shadow: inset 0 0 0 9999px rgba($hover-color,100%);
          }
        }
      }
    }
  }
}

//sec
table.table-tree-sec {
  width: 100%;
  margin:0.5rem 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        background-color: #fff;
        font-size: 0.75rem;
        line-height: 100%;
        color: $gray-500;
        word-wrap: break-word;
        padding-left: 0;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        border: none;
      }
      > td {
        padding-left: 0;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        border: none;
      }
    }
  }
}

table.table-bordered-th{
  width: 100%;
  > thead{
    > tr th {
      border-bottom:1px solid $gray-300;
    }
  }
}
