$NavExpand-text-color:  $gray-800 !default;
$NavExpand-text-color-hover:  $gray-800 !default;
$NavExpand-bg-color: var(--bg-color) !default;
$NavExpand-bg-color-hover: #fff !default;

nav.NavExpand{
  flex:1 1 100% ;
  overflow-y: auto;
  .category-title{
    padding: $Article-pad-y $Article-pad;
    color: $primary;
    font-size: 0.875rem;
    font-weight: 600;
  }
  // 第一層
  ul{
    display: block;
    padding:0;
    // white-space: nowrap;  
    border: none;
    li {
      position: relative;
      display: flex;
      align-items: stretch;
      // white-space: nowrap;
      font-size: 1rem;
      border: none;
      > a {
        display: block;
        width: 100%;
        position: relative;
        padding: 0.5rem 0.5rem 0.5rem 2.25rem;
        line-height: 110%;
        font-weight: 600;
        cursor: pointer;
        color: $NavExpand-text-color;
        i {
          font-size: 1rem;
        }  
      }
      > .icon-pin{
        position: absolute;
        display: inline-block;
        width: 1.8rem;
        padding-top: 0.25rem;
        margin-left: 0.5rem;
        text-align: center;
        z-index: 1;
        &:hover{
          cursor: pointer;
          animation-name: pin; 
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: reverse;
          animation-timing-function: ease-in; 
        }
        @keyframes pin {
          0% {
            transform: translate(0,-0.1rem);
          }
          100% {
            transform: translate(0,0.1rem);
          }
        }
      }
      &:hover{
        background-color: $NavExpand-bg-color-hover;
      }
    }
  }
  &:hover + .sec-menu{
    display: block;
    transition:$transition;
  }
}
// 展開
.sec-menu{
  display: none;
  position: absolute;
  left: $NavLeft-Nav-w;
  top: 0;
  height: $article-h;
  padding:0.25rem;
  background-color: $NavExpand-bg-color;
  box-shadow: 0.5rem  0 0.5rem -0.5rem rgba(0,0,0,0.2);
  transition:$transition;
  &:hover{
    display: block;
  
  }
  .tab-pane{
    padding: 0.25rem 1.5rem;
    white-space: nowrap;

    height: 100%;
    overflow-y: auto;
  }
  // 展開第一層
  ul{
    display: block;
    padding:0;
    width: 100%;
    white-space: nowrap;  
    li {
      font-size: 1rem;
      margin-top: 1rem;
      a:not([href]){
        cursor: default;
      }
      a {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 0.2rem 0;
        line-height: 200%;
        font-weight: 600;
        cursor: pointer;
        color: $NavExpand-text-color;  
        &:not([href]):not([class]){
          color: $NavExpand-text-color;
        }
        &:after{
          content:"";
          display: block;
          height: 1px;
          margin:0 0 0 1rem;
          background-color: var(--text-color-superlight);
          flex: 1 1 100%;
        }
        &:hover{
          color: $NavExpand-text-color-hover;
        }
      }
      // 展開第二層
      ul{
        margin-bottom: 1rem;
        li{
          margin-top: 0;
          padding-left: 0.3rem;
          a{
            padding: 0;
            line-height: 170%;
            font-weight: 400;
            &:after{
              content:"";
              display: none;
            }
            &:before{
              content: "‧";
              display: inline-block;
              margin-right: 0.5rem;
            }
            &:hover{
              font-weight: 600;
            }
          }
          a:not([href]):hover{
            font-weight: 400;
          }
        }
        // 展開第三層
        ul{
          padding:0.75rem 1rem 0.75rem 0.5rem;
          margin:0.25rem 0 0.75rem;
          background-color: $gray-100;
          li{
            margin-top: 0;
            a{
              padding: 0 0 0 0.3rem;
              line-height: 180%;
              font-weight: 400;
              font-size: 0.857rem;
              &:after{
                content:"";
                display: none;
              }
              &:before{
                content: "-";
                display: inline-block;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

aside.Nav-area:hover nav.NavExpand ul li a.active{
  background-color: $NavExpand-bg-color-hover;
}
