
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-oa: "Roboto", "Segoe UI", Microsoft JhengHei, Arial, Helvetica, sans-serif, "Arial Unicode MS", PMingLiU;
$success-light:#04a55a;

$color-blue:#1F5B99;
$color-red:#F64652;
$color-yellow:#FCB13A;

.Guideline{
  font-family: 'Noto Sans TC', sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: transparent;
  @include ScrollBar(6px,0,$gray-800,$gray-200);
  $main-w:1200px;
  $aside-w:11.5rem;
  // main
  main{
    position: relative;
    padding:2rem;
    &:before,
    &:after{
      content: "";
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      height: 2rem;
      background-image:linear-gradient(90deg, $color-blue 0%, $color-red 50%, $color-yellow 100%);
    }
    &:before{
      top: 0;
    } 
    &:after{
      bottom: 0;
      height: 1rem;
    } 
    article{
      width:$main-w;
      max-width: calc(100vw - #{$aside-w} * 2);
      margin:0 auto;
      min-height: 100vh;
      h1{  
        font-weight: 900;
        font-size: 3rem;
        // letter-spacing: 0.25rem;
        &.Divider{
          // padding-top: 5rem;
          align-content: flex-end;
          align-items: flex-end;
          &:before,
          &:after{
              margin-bottom: 1.5rem;
          }
          span{
            position: relative;
            display: inline-block;
            padding: 0 1rem 0 1.25rem;
            line-height: 100%;
            text-align: center;
            font-weight: 800;
            font-size: 3rem;
            letter-spacing: 0.3rem;
            color:$gray-900;
            small{
              top: 0;
              font-size: 1.8rem;
              font-weight: 300;
              color: $gray-400;
              letter-spacing: 0rem;
            }
          }
        }
      }
      h2{
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 150%;
        letter-spacing: 0.1rem;
      }
      h3{
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
      h4,h5,h6{
        font-weight: 400;
        letter-spacing: 0.05rem;
      }
      .FullPage{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    // 封面
    article.Cover-wrapper{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      
      section{
        text-align: center;
        img{
          max-width: 100%;
          max-height: 60vh;
          width: 50rem;
        }
        .topic{
          text-align: center;
          display: flex;
          align-items: center;
          margin: 2rem auto 0;
          justify-content: center;
          flex-direction: column;
          h1{
            // margin: 0 auto;
            line-height: 100%;
            font-size: 3.5rem;
            letter-spacing: 0;
            font-weight: 400;
            b{
              font-weight: 800;
              padding-right: 0.25rem;
            }
            
          }
          small{
            padding:0.25rem 0.5rem 0.4rem;
            // margin:0.25rem 0 0 1rem;
            margin: 1rem auto;
            line-height: 100%;
            font-size: 1.8rem;
            font-weight: 600;
            color:#fff;
            background-color: $gray-900;
            border-radius: 0.4rem;
          }

        }
      }  
    }
    
    // 設計原則 // 使用情境
    article.Principle-wrapper,
    article.Scenarios-wrapper{
      section{
        // margin-top: 8rem;
        .hgroup{
          position: relative;
          position: sticky;
          top: 0;
          padding:1rem 0 1rem 6.5rem;
          background-color: #fff;
          z-index: 2;
          &:after{
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1rem;
            box-shadow: 0 5px 4px -4px rgba(0,0,0,0.25);
          }
          b{
            position: absolute;
            left: 0;
            top: 0.5rem;
            line-height: 9rem;
            font-size: 9rem;
            font-weight: 700;
            font-family:  "Roboto", "Segoe UI", Microsoft JhengHei, Arial, Helvetica, sans-serif, "Arial Unicode MS", PMingLiU;;
          }
          h5{
            color: $gray-500;
          }
        }
        .group{
          padding:2rem 0 5rem;
          h3{
            font-size: 1.25rem;
            font-weight: 400;
            user-select: none;
            b{
              display: inline-block;
              padding:0.2rem 0.75rem;
              color: #fff;
              background-color: $gray-900;
            }
          }
          h5{
            margin-bottom: 1rem;
          }
          ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin:1rem 0 0 ;
            padding:0;
            li{
              width:48%;
              margin-bottom: 3rem;
              .img-wrapper{
                width: 100%;
                padding:3rem;
                background-color: $gray-200;
                img{
                  width:100%;
                }
              }
              h4{
                display: flex;
                align-items: flex-start;
                margin-top:0.25rem;
                font-size: 1.25rem;
                perspective-origin: 0 0;
                line-height: 130%;
                &:before{
                  @include IconMdi;
                  // font-size: 1.5rem;
                  transform: scale(1.2, 1.2);
                  margin-right: 0.5rem;
                  line-height: 130%;
                }
              }
              &.good{
                .img-wrapper{
                  border:3px solid $success-light;
                  // border-bottom:5px solid $success-light;
                }
                h4{
                  color: $success-light;
                  &:before{
                    content:"\F05E0";
                  }
                }
              }
              &.bad{
                .img-wrapper{
                  border:3px solid $danger;
                  // border-bottom:5px solid $danger;
                }
                h4{
                  color: $danger;
                  &:before{
                    content:"\F0159";
                  }
                }
              }
            }
          }
        }
      }  
    }

    // 設計原則
    article.Principle-wrapper{
      .proportion-wrap{
        $width:63rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        width: $width;
        margin:0 auto;
        ul{
          display: inline-flex;
          justify-content: space-between;
          padding:0;
          margin:4rem 0 2rem 0;
          li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            text-align: center;
            width: calc(#{$width} / 3 - 3rem);
            min-height: 10rem;
            &:after{
              content:"+";
              position: absolute;
              right: -2.8rem;
              top: 40%;
              font-size: 3rem;
            }
            &:last-child{
              &:after{
                content:"";
              }
            }
            .proportion{
              margin-bottom: 0.5rem;
              font-size: 1.7rem;
              color: $gray-500;
              flex:0 0;
            }
            &.Usability{
              .proportion-main{
                background-color: $color-blue;
              }
            }
            &.Beautiful{
              .proportion-main{
                background-color: $color-red;
              }
            }
            &.Pleasurable{
              .proportion-main{
                background-color: $color-yellow;
              }
            }
            .proportion-main{
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: space-between;
              height: 100%;
              .title{
                padding:4rem 2rem;
                h1{
                  font-size: 2.6rem;
                  font-weight: 700;
                  color:#fff;
                  line-height: 110%;
                  letter-spacing: 0;
                }
                h2{
                  margin-bottom: 0;
                  font-size: 1.9rem;
                  font-weight: 800;
                  color: rgba(0,0,0,0.2);
                  line-height: 110%;
                  letter-spacing: 0;
                }
              }
              .descipt{
                line-height: 160%;
                font-size: 1.12rem;
                padding:1rem 0.75rem;
                color:rgba(255,255,255,0.8);
                background-color: rgba(0,0,0,0.2);
                white-space:nowrap;
              }
            }
          }
        }
        ol{
          list-style: none;
          display: inline-flex;
          justify-content: space-between;
          padding:0;
          margin:1rem auto 2rem;
          width: 100%;
          li{
            margin: 0;
            padding: 0.25rem 0 0 0;
            text-align: right;
            font-size: 1.25rem;
            font-weight: 600;
            border-top: 1rem $color-blue solid;
            &:first-child{
              width: 60%;
              border-color: $color-blue;
            }
            &:nth-child(2){
              width: 30%;
              margin:0 0.3rem;
              border-color: $color-red;
            }
            &:last-child{
              width: 10%;
              border-color: $color-yellow;
            }
          }
        }
      }
      section .group{
        ul{
          li{
            width:32%;
          }
        }
      }

    }




    //Template
    article.Template-wrapper{
      text-align: center;
      h5{
        margin: 3rem 0 0 0;
        line-height: 160%;
        color: $gray-500;
      }
      a.btn{
        font-size: 1.125rem;
        margin-top: 1.25rem;
        padding:0.5rem 1rem;
      }
    }
  }
  
  // aside
  aside{
    position: fixed;
    top: 0;
    right:0rem;
    width: $aside-w;
    height: 90vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 4;
    .btn{
      margin: 2rem 0 0 0.75rem;
    }
    nav {
      background-color: #fff;
      margin-bottom: 4rem;
      ul li{
        display: block;
        position:relative;
        width: 100%;
        padding-left:0.25rem;
        margin-left: 1rem;
        a{
          padding-left: 1rem;
          line-height: 200%;
          font-size: 0.9rem;
          font-weight: 600;
          color: $gray-700;
          &.active{
            color:$primary;
            &:hover{
              color:$primary;
            }
            &:after{
              background-color: $primary;
            }
          }
          &:after{
            content: "";
            position: absolute;
            top: 0.75rem;
            left: -0.35rem;
            width: 10px;
            height: 10px;
            background-color: $gray-700;
            border-radius: 50%;
          }
        }
      
        &:before{
          content: "";
          position: absolute;
          top: 0.75rem;
          left: 0;
          height: calc(100% - 0rem);
          width: 1px;
          background-color: $gray-700;
        }
        &:last-child{
          &:before{
            display: none;
          }
        }
        
        

        // 第二層
        ul{
          padding-left: 1rem;
          li{
            border: none;
            margin-left: 0;
            padding-left: 0;
            &:after,
            &:before{
              display: none;
            }
            a{
              font-weight: 400;
              line-height: 170%;
              color: $gray-500;
              &:after,
              &:before{
                display: none;
              }
            }
          }
        }
        
        // 標題
        &.nav-title{
          margin-bottom: 1rem;
          border:none;
          margin-left: 0;
          &:after,
          &:before{
            display: none;
          }
          a{
            line-height: 115%;
            font-size: 1.35rem;
            font-weight: 300;
            color: $gray-600;
            padding-left: 0.25rem;
            b{
              font-weight: 800;
              color: $gray-700;
            }
            &:after,
            &:before{
              display: none;
            }
            &.active {
              color: $gray-700;
              &:hover{
                color: $gray-700;
              }
            }
          }
        }

      
        
      }
    }
  }




}
@include media-breakpoint-down(lg) {
  .Guideline{
    main{
      width:calc(100% - 12rem);
    }
    aside{
      right:0;
    }
  }
}








